################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CamCar-01/v15/Server/sqlite3/db.lock
